<section class="sectionProyectos">

    <section class="sectionTituloProyectos">
        <i class="fas fa-code iconoTitulo"></i>
        <h1 class="titulo">Proyectos</h1>
    </section>

    <section class="cardProyecto">
        <section class="sectionFoto">
            <img src="assets/img/fondoPrincipal.jpg" alt="fotoFilmogram" class="fotoProyecto">
        </section>
        <section class="sectionDesc">
            <h1 class="tituloCard">Filmogram</h1>
            <p class="descripcion">Aplicación web full-stack red social de peliculas desarrollada con React, Node.js y MySQL.</p>
            <section class="sectionBotones">
                <button class="botonProyecto">
                    <i class="fab fa-node-js" style=" color: #68A063;"></i>Node.js
                </button>
                <button class="botonProyecto">
                    <i class="fas fa-file-code" style=" color: #3178C6;"></i>TypeScript
                </button>
                <button class="botonProyecto">
                    <i class="fab fa-react" style=" color: #61DAFB;"></i>React
                </button>
                <button class="botonProyecto">
                    <i class="fas fa-database" style=" color: #00758F;"></i>MySQL
                </button>
                <button class="botonProyecto">
                    <i class="fas fa-network-wired" style=" color: #20c997;"></i>APIs
                </button>
                <button class="botonProyecto">
                    <i class="fas fa-paint-brush" style=" color: #88e4eb;"></i>Tailwind
                </button>
                <button class="botonProyecto">
                    <i class="fab fa-html5" style=" color: #E34F26;"></i>HTML
                </button>
            </section>
        </section>
    </section>

      <section class="cardProyecto">
        <section class="sectionFoto">
            <img src="assets/img/fondoPrincipal.jpg" alt="fotoFilmogram" class="fotoProyecto">
        </section>
        <section class="sectionDesc">
            <h1 class="tituloCard">BookNest</h1>
            <p class="descripcion">Aplicación web full-stack red social de libros desarrollada con React, Node.js y MySQL.</p>
            <section class="sectionBotones">
                <button class="botonProyecto">
                    <i class="fab fa-node-js" style=" color: #68A063;"></i>Node.js
                </button>
                <button class="botonProyecto">
                    <i class="fas fa-file-code" style=" color: #3178C6;"></i>TypeScript
                </button>
                <button class="botonProyecto">
                    <i class="fab fa-react" style=" color: #61DAFB;"></i>React
                </button>
                <button class="botonProyecto">
                    <i class="fas fa-database" style=" color: #00758F;"></i>MySQL
                </button>
                <button class="botonProyecto">
                    <i class="fas fa-network-wired" style=" color: #20c997;"></i>APIs
                </button>
                <button class="botonProyecto">
                    <i class="fas fa-paint-brush" style=" color: #88e4eb;"></i>Tailwind
                </button>
                <button class="botonProyecto">
                    <i class="fab fa-html5" style=" color: #E34F26;"></i>HTML
                </button>
            </section>
        </section>
    </section>

</section>

