<section class="sectionSobreMi">
    <section class="sectionTituloSobreMi">
        <i class="fas fa-user iconoTitulo"></i>
        <h1 class="titulo">Sobre mí</h1>
    </section>
    <section class="sectionContenidoSobreMi">
        <img src="assets/img/fotoJaime.jpg" alt="fotoJaime" class="fotoSobreMi">
        <p class="desc">Hola, soy Jaime Romero Hernández, un <span class="azul">Programador Web junior</span>, graduado en <span class="rojo">Desarrollo de Aplicaciones Web (DAW)</span>. Actualmente, estoy en busqueda activa de trabajo mientras desarrollando un par de aplicaciones para seguir formándome y mejorar mis habilidades en el desarrollo web.<br><br>
        Tengo muchas ganas de demostrar mis habilidades y un paso adelante. Resido en <span class="amarillo">Madrid</span>, concretamente en <span class="azulClaro">Leganés</span>. Soy una persona sociable, perfeccionista y disciplinada.</p>
    </section>
</section>
