.sectionSobreMi{ 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    padding-bottom: 35px;
}

.sectionTituloSobreMi{ 
    display: flex;
    align-items: center; 
    gap: 10px; 
    padding-top: 120px;
}

.iconoTitulo{
    font-size: 37px;
    color: #E6243F;
}

.titulo{
    font-size: 55px;
    font-weight: bold;
    margin: 0;
}

.sectionContenidoSobreMi{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fotoSobreMi{
    width: 300px;
    height: auto;
    border-radius: 20px;
    border: 3px solid #E6243F;
    margin-top: 20px;
    transition: transform 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.fotoSobreMi:hover {
    transform: scale(1.05);
}

.desc{
    margin-left: 30px;
    font-size: 20px;
    text-align: justify;
}

.azul{
    font-weight: bold;
    color: #0066FF;
}

.rojo{
    font-weight: bold;
    color: #E6243F;
}

.amarillo{
    font-weight: bold;
    color: #FFCC00;
}

.azulClaro{
    font-weight: bold;
    color: #00CCFF;
}

/* ---------- RESPONSIVE: Tablets ---------- */
@media (max-width: 1024px) {
  .sectionTituloSobreMi {
    padding-top: 80px;
  }

  .titulo {
    font-size: 38px;
  }

  .iconoTitulo {
    font-size: 29px;
  }

  .sectionContenidoSobreMi {
    width: 80%;
  }

  .fotoSobreMi {
    width: 250px;
  }

  .desc {
    font-size: 18px;
    margin-left: 20px;
  }
}


/* ---------- RESPONSIVE: Móviles ---------- */
@media (max-width: 600px) {
  .sectionTituloSobreMi {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    margin-top: 40px;
  }

  .titulo {
    font-size: 35px;
  }

  .iconoTitulo {
    font-size: 26px;
  }

  .sectionContenidoSobreMi {
    flex-direction: column;
    width: 90%;
    text-align: center;
  }

  .fotoSobreMi {
    width: 180px;
    margin-top: 15px;
  }

  .desc {
    margin-left: 0;
    margin-top: 20px;
    font-size: 16px;
    padding: 0 10px;
    text-align: justify;
  }
}
