
<section class="sectionPresentation">
    <img src="assets/img/fotoJaime.jpg" alt="fotoJaime" class="fotoJaime">
    <h1 class="h1Presentation">¡Hola, soy Jaime Romero!</h1>
    <p class="pPresentation">Desarrollador Web Full-Stack. De Madrid, España. Graduado en Diseño de Aplicaciones WEB</p>
    <section class="sectionBotonesPresentation">
        <button class="botonesPresentation" onclick="window.open('https://github.com/jaime-rh', '_blank')">
             <i class="fab fa-github"></i> GitHub
        </button>
        <button class="botonesPresentation" onclick="window.open('https://www.linkedin.com/in/jaime-romero-hern%C3%A1ndez-b2b7b81ba/', '_blank')">
             <i class="fab fa-linkedin"></i> Linkedin
        </button>
        <button class="botonesPresentation" onclick="window.open('https://mail.google.com/mail/?view=cm&to=jaimeromerohernandez4@gmail.com', '_blank')">
             <i class="fas fa-envelope"></i> jaimeromerohernandez4&#64;gmail.com
        </button>
        <button class="botonesPresentation" onclick="window.open('assets/cv/CV-Jaime Romero Hernández.pdf', '_blank')">
             <i class="fas fa-file-alt"></i> CV
        </button>
    </section>
</section>
