.sectionExperienciaLaboral {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

.sectionTituloExperienciaLaboral {
    display: flex;
    align-items: center; 
    gap: 10px; 
    padding-top: 75px;
}

.iconoTitulo{
    font-size: 32px; 
    color: #E6243F;
}

.titulo{
    font-size: 55px; 
    font-weight: bold; 
    margin: 0;
}

.cardExperienciaLaboral {
    width: 60%;
    margin-top: 50px;
    border-radius: 20px;
    border: 1px solid gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; 
}

.cardExperienciaLaboral:hover {
    border-color: #E6243F; 
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); 
}

.contenidoCardExperienciaLaboral{
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.tituloCard{
    font-size: 35px;
    padding-top: 10px;
    color: #E6243F;
}

.nombre{
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    padding-right: 10px;
}

.contenidoIzquierda{
    width: 44%;
}

.descripcion{
    font-size: 18px;
    margin: 0;
    text-align: justify;
    padding-right: 20px;
}

/* Tablets (max-width 1024px) */
@media (max-width: 1024px) {
  .cardExperienciaLaboral {
    width: 80%;
  }

  .titulo {
    font-size: 42px;
  }

  .tituloCard {
    font-size: 28px;
  }

  .nombre {
    font-size: 18px;
  }

  .descripcion {
    font-size: 16px;
    padding-right: 15px;
  }

  .contenidoCardExperienciaLaboral {
    flex-direction: column;
    align-items: flex-start;
  }

  .contenidoIzquierda {
    width: 100%;
    margin-bottom: 15px;
  }

  .sectionTituloExperienciaLaboral {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
  }

  .iconoTitulo {
    font-size: 30px;
  }

  .titulo {
    font-size: 38px;
  }
}

/* Móviles pequeños (max-width 600px) */
@media (max-width: 600px) {
  .cardExperienciaLaboral {
    width: 90%;
    margin-top: 30px;
  }

  .titulo {
    font-size: 32px;
    padding-top: 40px;
  }

  .tituloCard {
    font-size: 24px;
  }

  .nombre {
    font-size: 16px;
    padding-right: 5px;
  }

  .descripcion {
    font-size: 14px;
    padding-right: 10px;
  }

  .contenidoCardExperienciaLaboral {
    flex-direction: column;
    align-items: flex-start;
  }

  .contenidoIzquierda {
    width: 100%;
    margin-bottom: 10px;
  }

   .sectionTituloExperienciaLaboral {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
  }

  .iconoTitulo {
    font-size: 30px;
    margin-top: 40px;
  }

  .titulo {
    font-size: 35px;
  }
}