<section class="sectionExperienciaLaboral">

    <section class="sectionTituloExperienciaLaboral">
        <i class="fas fa-briefcase iconoTitulo"></i>
        <h1 class="titulo">Experiencia Laboral</h1>
    </section>

    <section class="cardExperienciaLaboral">
        <section>
            <h1 class="tituloCard">Infosolution & Internet Services S.L.</h1>
        </section>
        <section class="contenidoCardExperienciaLaboral">
            <section class="contenidoIzquierda">
                <h1 class="nombre">Desarrollador Web Full-Stack Prácticas</h1>
                <p class="tiempo">Marzo 2025 - Junio 2025</p>
            </section>
            <p class="descripcion">Fueron mis primeras prácticas como Desarrollador Web Full-Stack, donde aprendí muchísimo. Trabajé con PHP, APIs, librerías... En el propio sistema de la empresa y también trabajé con Wordpress.</p>
        </section>
    </section>
    <section class="cardExperienciaLaboral">
        <section>
            <h1  class="tituloCard">BSH Electrodomésticos España S.A.</h1>
        </section>
        <section class="contenidoCardExperienciaLaboral">
            <section class="contenidoIzquierda">
                <h1 class="nombre">Especialista Técnico Prácticas</h1>
                <p class="tiempo">Marzo 2023 - Junio 2023</p>
            </section>
            <p  class="descripcion">Fuí encargado de diagnosticar, reparar y mantener electrodomésticos del hogar, garantizando un servicio eficiente, seguro y centrado en la satisfacción del cliente.</p>
        </section>
    </section>

</section>
